.bubble {
    background: transparent linear-gradient(0deg, #d4f6ff 0%, #ffffff 100%) 0%
        0% no-repeat padding-box;
    border-radius: 16px;
    box-shadow: 0px 6px 3px #00000029;
}
.fa-circle {
    color: #1776ce !important;
}
.vertical-line-icon {
    display: table;
    height: 100%;
}
.vertical-line-icon:after {
    content: "";
    display: table;
    margin: 0 auto;
    width: 4px;
    height: 100%;
    background-color: #1776ce;
}
.arrow-exp {
    position: absolute;
    top: 5px;
    left: 120px;
}
.arrow-background {
    position: absolute;
    top: 5px;
    left: 400px;
}
.arrow-offer {
    position: absolute;
    top: 5px;
    left: 680px;
}
.fa-caret-up {
    color: white;
}
.title {
    font-weight: bold;
    margin-left: 25%;
}
