a{
    font: normal normal bold 24px/32px;
    letter-spacing: 0px;
    color:#4A7DA4;
    opacity: 1;
    font-weight: bold;
}
a:hover{
    text-decoration:none;
    color: #1A517B;
}
.bg-logo{
    background-color: white;
    border-radius: 130px;
    height: 26px;
}
.fa-circle {
    color: white;
}
.fa-comment-alt{
    color: black;
}
.fa-map-marker-alt{
    color:black;
}
.container{
    height: 100%;
}