@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");

.intro {
    text-align: left;
    font-size: 56px;
    color: black !important;
    font-weight: bold;
    margin-top: 20vh;
    width: 65vh;
}
.intro-detail {
    text-align: left;
    font: normal normal normal 20px/27px Nunito;
    letter-spacing: 0px;
    color: black !important;
    opacity: 1;
    width: 65vh !important;
}
.button {
    background-color: #e29d41;
    border: none;
    position: absolute;
    z-index: 9999;
    color: white;
    padding: 10px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer !important;
    border-radius: 8px;
    width: 100px;
}
.button:hover {
    background-color: #ffbf69;
    cursor: pointer;
}
.path-position {
    bottom: 78px;
    left: 69px;
    position: absolute;
}

.group-position {
    bottom: 200px;
    right: 0px;
    position: absolute;
}

@media (min-width: 1400px) {
    .photo {
        width: 758px;
        height: 915px;
        object-fit: contain;
    }
    .path {
        width: 1365px;
        height: 269px;
        object-fit: contain;
    }
    .group {
        width: 682px;
        height: 611px;
    }
}
